In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
ruta = "winequality(limpio).csv"
df = pd.read_csv(ruta)
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,pH,sulphates,alcohol,quality,density-kg/m^3,quality classification,Red,White
0,7.4,0.70,0.00,1.9,0.076,11.0,0.064516,3.51,0.56,9.4,5,997.8,Mala,1,0
1,7.8,0.88,0.00,2.6,0.098,25.0,0.140553,3.20,0.68,9.8,5,996.8,Mala,1,0
2,7.8,0.76,0.04,2.3,0.092,15.0,0.110599,3.26,0.65,9.8,5,997.0,Mala,1,0
3,11.2,0.28,0.56,1.9,0.075,17.0,0.124424,3.16,0.58,9.8,6,998.0,Media,1,0
4,7.4,0.70,0.00,1.9,0.076,11.0,0.064516,3.51,0.56,9.4,5,997.8,Mala,1,0

In [10]:
df.type()

AttributeError: 'DataFrame' object has no attribute 'type'